@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-1 p:nth-of-type(2){
	text-align: center;
	text-indent: 0em;
}

#chapter-17 p:last-of-type{
	text-align: center;
	text-indent: 0em;
}